@import url("https://fonts.googleapis.com/css?family=Poppins:regular,700,800italic&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: Poppins;
  background-color: #f0f0f0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.main {
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 56px;
  border-radius: 24px 24px 200px 24px;
}
.insert-date {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 700;
  color: #716f6f;
  margin: 0 0 8px 0;
}

.insert-box {
  display: flex;
  flex-direction: column;
  margin: 0 32px 0 0;
}
.input-text {
  border: 1px solid #dcdcdc;
  width: 160px;
  height: 72px;
  padding: 12px 24px;
  font-size: 32px;
  font-weight: 700;
  color: #151515;
  border-radius: 8px;
}
.input-text:focus {
  border: 1px solid #854dff;
}
.line-circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.circle {
  justify-content: end;
}
.result {
  font-size: 108px;
}
.result-box {
  display: flex;
  flex-direction: row;
  line-height: 110%;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -2.08px;
}
.result-number {
  color: #854dff;
  margin-right: 8px;
}
.line {
  height: 1px;
  width: 632px;
  background-color: #dcdcdc;
}
.button-circle {
  display: block;
  width: 96px;
  height: 96px;
  background-color: #854dff;
  border-radius: 50%;
  background-image: url(./img/ikonka-white.svg) no-repeat;
}
/*
.button-circle::before {
    
    display: block;
    content: "";
    height: 1px;
    width: 632px;
    background-color: #DCDCDC;
} */
.button-circle:focus {
  background-color: #151515;
}
.text-error {
  color: #ff5959;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  display: block;
  margin: 8px 0 0 0;
}
.error {
  border: #ff5959 solid 1px;
  color: #ff5959;
}
